*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: red;
}
.left{
  position: relative;
  min-height: 100vh;
  width: 55%;
  background-color: yellow;

}
.right{
  position: relative;
  min-height: 100vh;
  width: 45%;
  background-color: rgb(248, 233, 212);
}
.videop{
  height: 100vh;
  background-color: rebeccapurple;
  overflow: hidden;
}
.videop video{
 height: 139vh;
}
.full{
  position: absolute;
  z-index: 87;
  top: 0%;
  height: 100vh;
  width: 100%;
  background-color: black transparent;
}
.hmenu{
  color: white;
  top: 0%;
  padding: 50px;
  font-family: 'product sans';
  font-size: 15px;
  opacity: .8;
}
.hmenu i{
  margin-right: 17px;

}
.middle{
  opacity: .8;
  padding: 50px;
  color: white;
  font-size: 15px;
  font-family: 'Takota';
  margin-top: 70px;
  display: flex;
  justify-content:space-between;
  height: 30vh;
  width: 100%;
  
}
.m1{
  line-height: 20px;
}
.mheading{
  padding: 50px;
  margin-top: -90px;
  font-weight: 400;
  color: white;
  font-family: 'Takota';
  font-size: 110px;

}
.lower{
  position: absolute;
  padding: 50px;
  top: 86%;
  color:white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  opacity: .7;
}
.a{
  margin-left: 20px;
}
.nav{
  min-height: 10vh;
  margin-left: 480px;
  padding: 50px;
  font-family: 'product sans';
  font-size: 20px;
  font-weight:700;
}
.b{
  margin-left: 30px;
  color: rgb(145, 144, 142);
  opacity: .8;

}
.pic1{
  min-height: 35vh;
  width: 25%;
  margin-top: 4%;
  margin-left: 40%;
}
.pic1 video{
  width: 110%;
}
.pic2{
  width: 18%;
  background-color: rebeccapurple;
  margin-left: 20%;
  margin-top: 2%;

}
.op{
  min-height: 25vh ;
  width: 100%;
}
.box{
  position: relative;
  margin-top: -7%;
  margin-left: 50%;
  min-height: 6vh;
  width: 20%;
  border: 2px solid black ;
  font-family: 'product sans';
  font-size: 12px;
  font-weight: 900;
}
.c{
  position: absolute;
  top: 37%;
  left: 25%;
  transform: translate(-50% -50%);
}
.last{
  position: absolute;
  min-height: 60vh;
  width: 6%;
  margin-left: 90%;
  margin-top: 35%;
  font-weight: 900;
  opacity: .7;
  top: 0%;
  writing-mode: vertical-lr;
  font-family: 'product sans';
  font-size: 13px;
}
.e{
  margin-top: 20px;
  margin-bottom: 20px;
}
@media  (max-width: 600px)
{
  #main{
    flex-direction: column;
  }
  
  .left{
    width: 100%;
  }
  .hmenu
  {
    padding: 40px;

  }
  .mheading
  {
    padding: calc(100% - 100px);
    font-size: 70px;
    margin-top: -80%;
    margin-left: -230px;
  }
  .middle{
    margin-top: 40px;
    padding: 40px;
  }
  .lower{
    top: 80%;
    padding: 40px;
  }
  .right{
    width: 100%;
  }
  .nav{
    margin-left: 220px;
    font-size: 13px;
    padding: 20px;
  }
  .pic1 video{
    width: 150%;
    }
  .pic2 {
  width: 39%;
  margin-left: 10%;
  margin-top: 5%;
  }
  .box{
    margin-top: -10%;
    width: 35%;
    margin-left: 55%;
  }
  

}